body{
    background-color: gray;
    color: aliceblue;
    text-align: center;
}

#main-div{
    background-color: rgba(77, 252, 252, 0.178);
    height: 600px;
    width: 600px;
    z-index: 0;
}

#main-div div{
    border: 2px solid green;
    height: 200px;
    width: 200px;
}

table, td, tr{
    border: 2px solid black;
}
td{
    width: 33%;
    height: 180px;
}