@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*
Made by Tomasz Mamala

http://tmamala.pl
*/

:root{
    --main-clr:#cfc;
    --text-clr:#000;
    --box-color:#9f9;
}

body{
    background-color: var(--main-clr);
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding-top: 5rem;
    color: var(--text-clr);
}

.header{
    padding-left: 2rem;
    padding-right: 2rem;
}

#main-div{
    width: 800px;
    height: 800px;
}

.big-flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-clr);
}

.small-flex{
    width: 100%;
    min-height: 160px;
    height: calc(100% /3);
    border:1rem solid var(--main-clr);
    box-sizing: border-box;
    display: flex;
}

.second{
    border-top: none;
}

.third{
    border-top: none;
}

.last{
    border-top: none;
}

.lastn{
    border-bottom: none;
}

.bigger, .last, .lastn{
}

.box{
    box-sizing: border-box;
    border-right: .5rem solid var(--main-clr);
    border-left: .5rem solid var(--main-clr);
    width: calc(100% /3);
    min-width: 20%;
    height: 100%;
    background-color: var(--box-color);
    text-align: center;
    font-size: 48px;
}

.box > p{
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset{
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    margin-top: 25px;
    font-size: 20px;
    color: var(--text-clr);
    transition: 200ms ease-in-out;
    position: relative;
    top: 0;
    color: var(--text-clr);
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 2rem;
}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 1rem;
}

#reset:hover{
    background-color: var(--box-color);
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    transition: 200ms ease-in-out;
    top: -5px;
}

#mode{
    display: none;
}

#labelmode{
    cursor: pointer;
}